<div class="page-header">
	<h1>{{ caption }}</h1>
</div>
<form ng-submit="submit()">
	<div class="col-md-12 columns">
		<p>
			<div class="input-group">
				<span class="input-group-addon">User name</span>
				<input type="text" class="form-control" ng-model="userObj.name" placeholder="User name" />
			</div>
		</p>
		<p>
			<div class="input-group">
				<span class="input-group-addon">Password</span>
				<input type="password" class="form-control" ng-model="userObj.password" placeholder="Password" />
			</div>
		</p>
		<p>
			<div class="input-group">
				<span class="input-group-addon">E-Mail</span>
				<input type="text" class="form-control" ng-model="userObj.email" placeholder="E-Mail"/>
			</div>
		</p>
		<input type="submit" id="submit" value="Save" class="btn btn-success"></input>
		<input type="reset" id="reset" value="Reset" class="btn btn-default" ng-click="reset()"></input>
		<p>
			<div class="alert alert-success" role="alert" ng-show="alertIsVisible">User successfully added.</div>
			<div class="alert alert-danger" role="alert" ng-show="errorAlertIsVisible">Operation failed.</div>
		</p>
	</div>
</form>
